.admin1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#admin {
    display: flex;
    margin: 20px;
    flex-direction: row;
}

.section111 {
    padding: 2% 2% 5% 2%;
    display: flex;
}

.navigate1,
.navigate2,
.navigate3,
.navigate4,
.navigate5 {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
    padding: 50px 20px 20px 10px;
    transition: all 0.3s ease 0s;
    width: 20%;
    margin-right: 50px;
    height: 10cm;
    margin: 23px;
}

.jcbutton {
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigate1 {
    background-color: #26abff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.navigate1:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
}

.navigate2 {
    background-color: #59bfff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.navigate2:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
}

.navigate3 {
    background-color: #ababab;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.navigate3:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
}

.navigate4 {
    background-color: #7e7e7e;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.navigate4:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
}

.navigate5 {
    background-color: #4d4d4d;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.navigate5:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
}

@media screen and (max-width: 800px) {
    #admin {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .navigate1,
    .navigate2,
    .navigate3,
    .navigate4,
    .navigate5 {
        width: 50%;
    }
}
